.box {
  font-size: 80%;
  display: flex;
  align-items: center;
  gap: 1em;
  text-align: right;
  position: relative;
}

.btn {
  appearance: none;
  background-color: #fff;
  color: var(--cl-accent);
  margin: 0;
  padding: 0;
  border: 1px solid var(--cl-accent);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: #fff;
  background-color: var(--cl-accent);
}

.popup {
  position: absolute;
  right: 50%;
  top: 200%;
  user-select: none;
  white-space: nowrap;
}
