.wrapper {
  padding: 0 16px;
  display: flex;
}

.box {
  padding: 28px;
  margin: 48px auto;
  background-color: #fff;
  border-bottom: 6px solid var(--cl-sunglow);
  height: fit-content;
}

.title {
  font-weight: normal;
  font-size: 32px;
  color: #11203e;
  line-height: 1.1;
  margin: 0 0 16px;
}

@media (max-width: 780px) {
  .box {
    padding: 22px;
  }

  .title {
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  .wrapper {
    align-items: center;
    padding: 0;
  }

  .box {
    margin: 16px auto;
  }
}
