.game {
  display: inline-block;
  background-color: #fff;
  border-top: var(--border);
  border-left: var(--border);
  touch-action: manipulation;
  pointer-events: none;
  user-select: none;
}

.row {
  display: flex;
  border-bottom: var(--border);
}

.cell {
  width: 28px;
  height: 38px;
  border-right: var(--border);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.cellg {
  composes: cell;
  background-color: #f2f5f7;
}

.point {
  background: var(--cl-sunglow) url('../../images/lightning.svg') no-repeat center;
}

.float {
  background: rgb(253 214 49 / 50%) url('../../images/lightning.svg') no-repeat center;
}

.cellt {
  composes: cell;
  height: 56px;
}

.label {
  writing-mode: vertical-rl;
  font-weight: bold;
  color: var(--cl-text);
  font-size: 70%;
}

@media (max-width: 780px) {
  .cell {
    width: 22px;
    height: 32px;
  }

  .icon {
    background-size: 16px;
  }

  .label {
    font-size: 60%;
  }
}
