._game {
  display: inline-block;
  background-color: #fff;
  border-top: 0.5px solid #d0e0ea;
  border-left: 0.5px solid #d0e0ea;
}

._row {
  display: flex;
  border-bottom: 0.5px solid #d0e0ea;
}

._cell {
  width: 30px;
  height: 40px;
  border-right: 0.5px solid #d0e0ea;
}

._cell_g {
  composes: _cell;
  background-color: #f2f5f7;
}

._icon {
  background: var(--cl-sunglow) url('./lightning.svg') no-repeat center;
}

._time {
  writing-mode: vertical-rl;
  font-size: 80%;
  font-weight: bold;
  width: 30px;
  height: 60px;
  border-right: 0.5px solid #d0e0ea;
  color: var(--cl-text);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
