.app {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

@supports (-webkit-touch-callout: none) {
  .app {
    height: -webkit-fill-available;
  }
}
