.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  padding: 16px;
  margin: 0;
  border: var(--border);
  list-style: none;
  user-select: none;
}

.auth {
  padding: 16px 32px;
  font-size: 80%;
}

@media (max-width: 780px) {
  .box {
    justify-content: space-evenly;
    gap: 16px;
  }
}

@media (max-width: 600px) {
  .auth {
    padding: 16px;
  }
}
