.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  padding: 16px;
  border: var(--border);
  list-style: none;
}

.auth {
  padding: 32px;
  font-size: 80%;
}

@media (max-width: 780px) {
  .box {
    justify-content: space-evenly;
    gap: 16px;
  }
}
