.box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  padding: 1em;
  border: var(--border);
}

.auth {
  padding: 1em 3em;
  font-size: 80%;
}

@media (max-width: 50em) {
  .auth {
    padding: 1em;
  }
}
