:root {
  --fn-size: 16px;
  --cl-text: #495a7a;
  --cl-sunglow: #ffd100;
  --cl-accent: #888b28;
  --cl-bg-haze: #d0e0ea;
  --border: 0.5px solid var(--cl-bg-haze);
}

html,
body {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  inset: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--fn-size);
  color: var(--cl-text);
  background-color: #eff2f6;
}

a {
  color: var(--cl-accent);
  text-decoration: underline;
}

h1 {
  font-size: 32px;
  margin: 0 0 16px;
}

h1,
h2,
h3 {
  font-weight: normal;
  line-height: 1.1;
}

@media (max-width: 780px) {
  :root {
    --fn-size: 14px;
  }

  h1 {
    font-size: 24px;
  }
}
