.modal {
  outline: none;
  border: none;
  border-bottom: 6px solid var(--cl-sunglow);
  padding: 22px;
  color: var(--cl-text);
}

.modal::backdrop {
  background-color: rgb(0 0 0 / 50%);
}

.close {
  background-color: var(--cl-accent);
  border: 2px solid var(--cl-accent);
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  padding: 8px 25px;
  outline: none;
}

.x {
  appearance: none;
  border: none;
  color: var(--cl-text);
  background: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
}
